<div class="container">
  <div class="row pb-0 pt-2 ps-2 pe-2 m-0" style="width: 69vw">
    <div class="col-12 py-2 pt-2 pb-0 m-0" style="width: 100%; height: 65vh; overflow-y: scroll; scrollbar-width: thin; scrollbar-color: #555 #111;">
      <h2 style="font-style:italic;">$DAI To A $Dollar (DaiToA$)</h2>
      <br>
      <h4>LITE PAPER</h4>

      <p>
        The goal of <strong style="font-style:italic;">$DAI To A $Dollar</strong> is to foster stable, steadily rising prices in the <strong style="font-style:italic;">DaiToA$</strong> token, making it an attractive asset to accumulate, while at the same time contributing to the goal of pegging pDAI on Pulsechain.
      </p>
      <p>
        In order to achieve that, it is necessary to promote steady BUY pressure, to encourage and reward only net POSITIVE investment behaviors and to DETER inactivity and value extraction.
      </p>
      <p>
        <strong>$DAI To A $Dollar</strong> tackles these with a unique combination of tokenomics, liquidity bonding and liquidity pool distribution.
      </p>
      <br>
      <h3>
        TOKENOMICS
      </h3>
      <p>
        <strong>"TLDR":</strong><br>
        Every account holding <strong style="font-style:italic;">DaiToA$</strong> must either: BUY an additional 0.369% of DaiToA$ per day, or: 3.69% of current DaiToA$ holdings will be burned per day until buying resumes.
      </p>
      <p>
        i.e. BUY or DIE (i.e. Burn) every. single. day.
      </p>
      <p>
        <strong style="text-decoration: underline;">In detail</strong><br>
        <strong style="font-style:italic;">DaiToA$</strong> is an ERC20 token with a few simple but powerful enhancements that dramatically alter its utility. Both the benefits AND risks of this should be understood before acquiring DaiToA$.
      </p>
      <p>
        How the token contract works:
      </p>
      <ul>
        <li>For every (non-exempt*) account, the most recent HIGH BALANCE (and timestamp at which it was achieved) is tracked; THEN</li>
        <li>For every DAY that passes since the recent HIGH BALANCE was achieved, a new high balance equal to 0.369% above the previous HIGH BALANCE must be achieved (via transfer or purchase); OR ELSE</li>
        <li>For every DAY that passes since the recent HIGH BALANCE was achieved, 3.69% of the previous HIGH BALANCE will be burned from the account, UNTIL EITHER</li>
        <li>The account's DaiToA$ balance reaches 0 (after about 4 weeks - i.e. 4 x 7 days x 3.69% = 103%); OR</li>
        <li>A new HIGH BALANCE value (relative to any post-burn balance) is set. (e.g. if 2 weeks are missed and 50% is burned, the next HIGH BALANCE will only need to be 0.369% higher than the 50% lower post-burn balance.)</li>
      </ul>

      <h5>EFFECT OF THE TOKENOMICS:</h5>
      <p>
        The tokenomics are designed to benefit those investors who consistently perform beneficial actions for the overall token ecosystem and to purge those who do not.
      </p>
      <p>
        Beneficial actions (i.e daily buying or liquidity provision) PROTECT the account from daily burns.
      </p>
      <p>
        Why this is beneficial to investors:
      </p>
      <ul>
        <li>Accumulating/Saving is strongly encouraged - in fact, buying 0.369% per day results in a roughly 4x (i.e. 300%) savings rate per year.</li>
        <li>Simply HODLing - in hope that others will come in to 'pump the bags' - is discouraged by the daily penalty burns (i.e. resulting in less weak hands)</li>
        <li>Apeing-in is made impractical - since an investor needs additional funds to perform the daily buys (i.e. steady growth)</li>
        <li>Profit taking is absorbed - i.e. as long as there are active investors, there will be daily accumulation that will reduce the price impact of any selling.</li>
      </ul>
      <h5>
        EXCEPTIONS TO DAILY BUY OR BURN:
      </h5>
      <ul>
        <li>First day grace period: There is a half day grace period for the first day after a new high balance is achieved. This means that accounts actually have 36 hours in order to make their purchase to avoid burning the first 3.69%. After the grace period - i.e. if more than 36 hours have passed since a new high balance - then 3.69% is burned and no grace period remains, which means the next burn will occur in 12 hours - the end of the second day - and every 24 hours thereafter.</li>
        <li>Manual burns: In the case where insufficient funds are available to an investor to acquire 0.369% of the previous HIGH BALANCE, an account can optionally call a dedicated burn function (which will BURN 0.369% of the previous HIGH BALANCE) in order to avoid the full 3.69% burn. This would also need to be performed daily until accumulation could resume.</li>
        <li>Liquidity Provision: Certain liquidity pools** have been assigned a 'protected' status that allow accounts to place DaiToA$ in them without any Buy Or Burn requirement. This encourages liquidity provision, and the locking up of both DaiToA$ and pDAI. If an account wishes to place (or 'park') all their DaiToA$ within one of these LPs, they will be free from the daily requirement to acquire more DaiToA$.</li>
      </ul>
      <h5>
        IMPORTANT WARNING:
      </h5>
      <p>
        If you wish to move DaiToA$ around from one account to another, OR park DaiToA$ in LPs you are ADDING RISK.
      </p>
      <p>
        Buying daily is not only the safe approach and the best long-term investment strategy, but it is also the simplest approach.
      </p>
      <p>
        But if you choose to do otherwise, it is then safest, while doing so, to never empty an account to absolute ZERO DaiToA$. This is because the tracking of burns will be based on the previous high balance, so if an account is fully withdrawn from, setting the balance to 0, any due burns (based on the last HIGH BALANCE recorded) most likely haven't yet been applied - so WILL BE APPLIED to the first amount that enters the account. So, depositing to an account in such a state (especially after 4 weeks of inactivity) could result in the burning of the entire amount deposited into the account (at which point the previous high balance will be reset and it will be safe again.)
      </p>
      <p>
      </p>
      <p>
        To repeat: The extra RISK of moving funds around makes the option to 'buy daily only' the safest.
      </p>
      <br>
      <p>
        <strong>*Exempt addresses</strong> - i.e. Addresses/accounts which can hold DaiToA$ without risk of burning:
      </p>
      <div class="p-0 m-0">
        (Burn addresses)<br>
        0x0000000000000000000000000000000000000000<br>
        0x0000000000000000000000000000000000000001<br>
        0x000000000000000000000000000000000000dEaD<br>
        (**Liquidity Pools)<br>
        9mm DAI-DaiToA$ 0.05% LP: 0xd6D9E8C4f7f8f75792f3f79A70ACAC089C5D534a<br>
        9mm DAI-DaiToA$ 0.25% LP: 0x54288E36BA8E80C44f9E84e7aD156133d8173177<br>
        9mm DAI-DaiToA$ 1% LP: 0x00Cb6706ef154114A55E7AaB913a76739FA34312<br>
        9mm DAI-DaiToA$ 2% LP: 0x7c0017d1D9C14F37C7CE9b33EeE696C77eFF495d<br>
        PLSX V1 DaiToA$-DAI LP: 0x6ACFa4EfE89415a7c9A8581e403Eb6a5e6fdC9FE<br>
        PLSX V2 DaiToA$-DAI LP: 0x53Cf7D98D787B7BcC716B0E6491D813A21e00459<br>
        9inch DaiToA$-pDAI LP: 0x67896F30F559111a7E66E28dF3c15d7e29500c7C<br><br>
      </div>
      <br>
      <h3>
        LIQUIDITY BONDING
      </h3>
      <p>
        The entire (100 million capped) supply of DaiToA$ was added to the 7 liquidity pools** above.<br>
        Every one of the LP tokens received for such liquidity provision was additionally sent to the burn address, so there is no ability for any user to pull that liquidity.<br>
        Additionally, the DaiToA$ contract ownership has been revoked, so there is no ability to add nor remove any additional exempt LP addresses.
      </p>
      <h5>EFFECT OF THE LIQUIDITY BONDING:</h5>
      <p>
        Since all of the liquidty pools are all pairs of only DaiToA$ and pDAI (contract address: 0x6B175474E89094C44Da98b954EedeAC495271d0F), DaiToA$ is TIGHTLY BONDED with pDAI.<br>
        Therefore, any variation in the (dollar/PLS) price of pDAI is also reflected in the (dollar/PLS) price of DaiToA$.
      </p>
      <p>
        To ensure this bond remains in place, ONLY DaiToA$-pDAI paired LP contract addresses are exempt from the daily burns.<br>
        Should any attempt be made to pair DaiToA$ with another token in another pool, it will suffer the same fate as any other account, and will eventually have its balance of DaiToA$ burned to 0.
      </p>
      <p>
        Naturally, being bonded so tightly with pDAI, anything that benefits pDAI also benefits DaiToA$.<br>
        But it is a mutually beneficial relationship, since the only way to acquire DaiToA$ is to initially acquire pDAI.<br>
        Demand for DaiToA$ and demand for DaiToA$-pDAI liquidity provision will both ADD to demand for pDAI.<br>
        Additionally, it would be expected that, since pDAI is needed to purchase DaiToA$, dips in the price of pDAI would be bought up as a strategy to better afford future DaiToA$ purchases.
      </p>
      <br>
      <h3>
        LIQUIDITY POOL DISTRIBUTION
      </h3>
      <p>
        The bulk of liquidity provision has been placed on 9mm exchange (utilizing the Uniswap V3 contracts, which allow single-sided liquidity provision.)
      </p>
      <p>
        Liquidity has been added in 23 laddered, narrow price band liquidity pools (the first starting in price at 0.25 pDAI/DaiToA$ and the last at 10000 pDAI/DaiToA$) which are separated in value by the ideal Fibonacci sequence 'Golden ratio' multiple of 1.618.
      </p>
      <p>
        Each band has a supply of 3690000 DaiToA$ tokens.
      </p>
      <p>
        (There are also additional all-price-level encompassing low liquidity pools which serve to fill the gaps between the bands.)
      </p>
      <h5>EFFECT OF THE LIQUIDITY POOL DISTRIBUTION:</h5>
      <p>
        The bands of liquidity create price zones of low volatility, which, if bought/sold through, then allow a rapid rise/fall to the next fib level, which will once again be stable.
      </p>
      <p>
        One effect of this distribution of liquidity is to release tokens only at higher price points.
      </p>
      <p>
        Another effect is that token price will be, on average, PROPORTIONAL to the total amount of pDAI used to purchase DaiToA$, rather than (as with the Uniswap V1/V2 algorithms) proportional to the SQUARE of the funds invested.
      </p>
      <p>
        This will have a stabilizing effect on price movements.
      </p>
      <p>
        Conversely, the requirement for daily purchases of 0.369% (which translates to an annual increase in holdings by roughly 4x) means that, assuming all participating investors perform the daily buying, there will be an additional 4x of price increases per year, regardless of any new investors joining. In this hypothetical situation (which also assumes a steady pDAI price) an investor's DaiToA$ total holdings value would grow 4 x 4 = 16x per year.
      </p>
      <br>
      <h3>
        FINAL CONSIDERATIONS
      </h3>
      <p>
        The combined effect of the custom features of DaiToA$, unrelated pDAI price movements and general market conditions are impossible to predict. Therefore, investors should have no expectations of performance and no estimates or forecasts can be made. The contract code is available to be viewed on the Pulsechain block explorer, but it HAS NOT been audited, so appropriate caution should be taken.
      </p>
      <p>
        Overall, though, with success of DaiToA$ will come - though to an unknown degree - a relatively improved price of pDAI, just as any price action in pDAI (unrelated to DaiToA$) will have a direct impact on the price of DaiToA$.
      </p>
      <p>
        Daily accumulation is the ultimate DCA (Dollar Cost Averaging). It may attract a different kind of crypto investor. Those who like to Buy, Hold and Pray will likely stay away.  Those who like to be active and surrounded by other active investors who all participate in beneficial activity on a daily basis, may find it an ideal investment home.
      </p>
      </div>
    </div>
</div>

